@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* fonts */

@layer base {
    /* dana font */
    @font-face {
        font-family: Dana;
        src: url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    }
    @font-face {
        font-family: Dana-medium;
        src: url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
    }
    @font-face {
        font-family: Dana-demiBold;
        src: url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    }

    /* morabba */
    @font-face {
        font-family: morabba;
        src: url("../fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
    }
    @font-face {
        font-family: morabba-light;
        src: url("../fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
    }
    @font-face {
        font-family: morabba-bold;
        src: url("../fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    }

}

@theme {
    --font-Dana: Dana;
    --font-Dana-medium: Dana-medium;
    --font-Dana-demiBold: Dana-demiBold;

    --font-morabba: morabba;
    --font-morabba-light: morabba-light;
    --font-morabba-bold: morabba-bold;

}

@layer components {
    .main_background {
        background-image: url("../image/background 3.png");
        background-repeat: no-repeat;
        background-size: cover;

    }

    .footer_background {
        background-image: url("../image/background Dark.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-menu{
        @apply absolute opacity-0 invisible group-hover:opacity-100 group-hover:visible top-full w-52 p-6 space-y-3 text-white bg-slate-800 text-base tracking-normal shadow-xl rounded-2xl transition-all z-50
    }

    .content-hover{
        @apply  hover:bg-gradient-to-br hover:from-sky-500 hover:to-indigo-600 to-80% hover:text-white transition-all duration-300
    }

    .active{
        @apply w-10 h-10 border border-white rounded-4xl items-center text-center py-1  bg-gradient-to-br from-sky-500 to-indigo-600 to-80% cursor-pointer
    }


    .non-active{
        @apply w-10 h-10 border border-white bg-slate-100 text-black rounded-4xl items-center text-center py-1 cursor-pointer
    }

    .main-header{
        @apply md:inline-block hidden md:w-full md:h-20 md:sticky  bg-slate-900 text-white font-Dana shadow-md mt-0 z-50
    }

    .main-container{
        @apply w-[1280px] mx-auto my-5 bg-zinc-200 rounded-2xl shadow-xl pt-5
    }

    .ltr{
        direction: ltr;
    }
    .rtl{
        direction: rtl;
    }

    .download-btn{
        @apply w-56 h-10 rounded-4xl bg-gray-200 text-slate-700 hover:bg-emerald-600 hover:text-white transition-colors ease-in duration-300 text-center py-1 m-4
    }
}

