# Default ignored files
/../../downloading /.idea/shelf/
/../../downloading /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../downloading /.idea/httpRequests/
# Datasource local storage ignored files
/../../downloading /.idea/dataSources/
/../../downloading /.idea/dataSources.local.xml
